version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: uber_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: SHER
      POSTGRES_DB: uber_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  server:
    build: ./server
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://postgres:SHER@db:5432/uber_db
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      db:
        condition: service_healthy

  react-ui:
    build: ./react-ui
    ports:
      - "3000:3000"
    depends_on:
      - server
    environment:
      - REACT_APP_API_URL=http://localhost:8000

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data: